{% load static %}

<section id="blog">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Blog</h5>
   			<h1>Check Out My Articles.</h1>

   		</div>   		
   	</div> <!-- /section-intro--> 
	<div class="row">
	<div id="blog-carousal" class="owl-carousel">
		{% for post in posts %}
			<div class="post-list">
				<div class="row">
					<div class="col-twelve">
						<h1 class="title"><a href="blog/{{post.id}}">{{post.post_title}}</a><p class="author">by {{post.created_by}}</p></h1>
						<p class = "metadata">{{post.created_on}} | 3 likes</p>
						<p class="body">{{post.brief}}</p>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
		<div class="row section-intro">
   		<div class="col-twelve">

			<p><a href="{% url 'blog:home' %}">See All Posts</a></p>

   		</div>   		
   	</div> <!-- /section-intro-->
	</div>

	</section> <!-- /poss --> 