   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
            {% for list in social %}
               <li><a href="{{ list.url }}"><i class="fa fa-{{ list.name }}"></i></a></li>
            {% endfor %}
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright rajujha.me 2017</span> 
		        	<span>Source available at <a href="www.github.com/rajujha373"><i class="fa fa-github"></i></a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer> 