<header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>	      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Work & Education</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Projects</a></li>
						<li><a class="smoothscroll"  href="#blog" title="">Blog</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>				
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->