	{% extends 'home/base.html' %}
	
	{% block title %}{{ post.post_title }}{% endblock %}

	{% block extrastyles %}
		<style>
			.author{
				font-size: 0.5em;
			}
			#intro{
				    height: 50%;
		    min-height: 500px;
			}
			#blog{
				padding-top: 0;
			}
			footer{
				padding-top: 3rem;
			}
		</style>
	{% endblock %}

	{% block content %}

	<header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>	      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a href="{% url 'home-core' %}" title="">Home</a></li>
						<li><a href="{% url 'home-blog' %}" title="">Blog</a></li>				
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
<!--    <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h1>{{ post.post_title }}</h1>

	   			<p class="intro-position">
	   				<span>Posted by {{post.created_by}} on {{post.created_on}}</span>
	   			</p>

	   		</div>  
   			
   		</div>   		 		
   	</div> --> <!-- /intro-content -->     	

   </section> <!-- /intro -->

	   <!-- posts section
   ================================================== -->
   <section id="blog">  

   		<div class="row">
				<div class="col-twelve" style="text-align: center">
					<h1 class="title" style="padding-top: 10rem;">{{ post.post_title }}<p class="author">by {{ post.created_by.get_full_name }}</p></h1>
					<p class = "metadata">{{post.created_on}} <!-- | 3 likes --></p>
					<p class="body">{{post.body | safe}}</p>

					<!-- <a class="button" href="#"><i class="fa fa-thumbs-up"></i>Like</a> -->
				</div>
		</div>
   </section>

   {% include 'home/includes/footer.html' %}
  {% endblock %}   }
