<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{% block title %}Home{% endblock %} | Raju Jha</title>
	<meta name="description" content="personal website of Raju Jha">  
	<meta name="author" content="Raju Kartik Jha, Raju, Raju Jha">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   {% load static %}
   <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
   <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'home/css/vendor.css' %}">    

   <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

   {% block extrastyles %}{% endblock %}

   <!-- script
   ================================================== -->   
	<script src="{% static 'home/js/modernizr.js' %}"></script>
	<script src="{% static 'home/js/pace.min.js' %}"></script>
	{% block extrascripts %}{% endblock %}

   <!-- favicons
	================================================== -->
  <link rel="shortcut icon" type="image/png" href="{% static 'home/favicon.ico' %}"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81820772-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-81820772-4');
  </script>


</head>

<body id="top">

	{% block content %}
	{% endblock %}

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'home/js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'home/js/plugins.js' %}"></script>
   <script src="{% static 'home/js/main.js' %}"></script>
   <script src="{% static 'home/js/particle.js' %}"></script>
   <script src="{% static 'home/js/app.js' %}"></script>

</body>

</html>