{% extends 'home/base.html' %}

{% block content %}

		<!-- header 
		   ================================================== -->
		   {% include 'home/includes/header.html' %}

			<!-- intro section
		   ================================================== -->
			{% include 'home/includes/intro.html' %}


		   <!-- about section
		   ================================================== -->
		    {% include 'home/includes/about.html' %}


		   <!-- resume Section
		   ================================================== -->
			{% include 'home/includes/resume.html' %}


			<!-- Portfolio Section
		   ================================================== -->
			{% include 'home/includes/projects.html' %}


			
			<!-- Quote Section
		   ================================================== -->
			{% include 'home/includes/quotes.html' %}


			<!-- Projects Section 
			================================================= -->
			{% include 'home/includes/blog.html' %}


		   <!-- contact
		   ================================================== -->
			{% include 'home/includes/contact.html' %}

{% endblock %}